.wrapper
  = render partial: "layouts/header"
  - if company_signed_in?
    .new-btn
      = link_to new_job_path do
        .new-btn__icon
          = fa_icon 'plus'
        .new-btn__text
          新しい求人を
          %br
          載せる
  .body
    .back-img
      .body__box
        - @all_jobs.each do |job|
          .body__box__job
            = link_to job_path(job.id) do
              .body__box__job__img
                - if Rails.env.development?
                  = image_tag "/uploads/image/image/#{job.images.ids[0]}/"+job.images[0][:image], size:'230x180'
                - if Rails.env.production?
                  = image_tag job.images[0].image.url, size:'230x180'
              .body__box__job__text
                .body__box__job__text__name
                  = job.name
                .body__box__job__text__detail
                  = job.body
                .body__box__job__text__prefecture
                  = job.prefecture.name
        .page_box
          = paginate @all_jobs
  = render partial: "layouts/footer"